<!DOCTYPE html>
<html>
<head>
  <title>Presentation</title>
  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js"></script>
  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.indigo-pink.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<!-- The drawer is always open in large screens. The header is always shown,
  even in small screens. -->
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
  mdl-layout--fixed-header">
  <header class="mdl-layout__header mdl-color--grey-50">
    <div class="mdl-layout__header-row mdl-color--grey-50">
      <span class="mdl-layout-title">HOME</span>
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
      mdl-textfield--floating-label mdl-textfield--align-right">
      <label class="mdl-button mdl-js-button mdl-button--icon"
      for="fixed-header-drawer-exp">
      <i class="material-icons">search</i> 
    </label>
    <div class="mdl-textfield__expandable-holder">
      <input class="mdl-textfield__input" type="text" name="sample"
      id="fixed-header-drawer-exp" />
        <label class="mdl-button mdl-js-button mdl-button--icon"
               for="fixed-header-drawer-exp"> 
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" name="sample"
                 id="fixed-header-drawer-exp" />
        </div>
      </div>
    </div>
  </div>
</div>
</header>

<div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50 is-visible">
 <header class="demo-drawer-header">
  <div class="demo-avatar-dropdown">
   <% if user_signed_in? %> 
   <strong><%= current_user.email %></strong>
   <% else %>
   <span>hello@example.com</span>
   <% end %>
   <div class="mdl-layout-spacer"></div>
   <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
    <i class="material-icons" role="presentation">arrow_drop_down</i>
    <span class="visuallyhidden">Accounts</span>
  </button>
  <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
    <li class="mdl-menu__item">hello@example.com</li>
    <li class="mdl-menu__item">info@example.com</li>
    <li class="mdl-menu__item"><i class="material-icons">add</i>Add another account...</li>
  </ul>
</div>
</header>
<nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
  <a class="mdl-navigation__link" href="">Link</a>
  <a class="mdl-navigation__link" href="">Link</a>
  <a class="mdl-navigation__link" href="">Link</a>
  <a class="mdl-navigation__link" href="">Link</a>
</nav>
</div>
<main class="mdl-layout__content">
  <div class="page-content"> 

    <%= yield %>



  </div>
</main>
</div> 

</body>
</html>